<footer class="main-footer">
  <nav class="footer-nav">
    <ul class="footer-nav-list">
      <li>
        <a class="nav-links" href="#">Blog</a>
      </li>
      <li>
        <a class="nav-links" href="#">Posts</a>
      </li>
      <li>
        <a class="nav-links" href="#">About</a>
      </li>
    </ul>
  </nav>
  <p>
    Desenvolvido por <a href="http://github.com/souluizfelipe" target="_blank">Sou Luiz Felipe</a>
  </p>
 </footer>