<header class="main-header">
  <h1 class="nav-logo"><a href="/">Duh!</a></h1>
  <nav class="main-nav">
    <ul class="nav-list">
      <li>
        <a class="nav-links" href="/">Home</a>
      </li>
      <li>
        <a class="nav-links" href="/create-post">New Post</a>
      </li>
    </ul>
  </nav>
</header>