<header class="main-header">
  <h1 class="nav-logo">Duh!</h1>
  <nav class="main-nav">
    <ul class="nav-list">
      <li>
        <a class="nav-links" href="#">Receitas</a>
      </li>
      <li>
        <a class="nav-links" href="#">Doces</a>
      </li>
      <li>
        <a class="nav-links" href="#">Salgados</a>
      </li>
    </ul>
  </nav>
</header>