.create-post-form {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.label-section {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 16px;
}

#post-title {
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid var(--color-black-main);
  border-radius: 8px;
  background-color: var(--color-white-bg);
}

#post-text {
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid var(--color-black-main);
  border-radius: 8px;
  background-color: var(--color-white-bg);
  height: 500px;
  resize: none;
}

.post-button {
  font-size: 16px;
  margin-bottom: 50px;
  width: 100px;
  padding: 8px 16px;
}