.main-section-post {
  padding: 0px 32px;
}

.full-post {
  border-bottom: 1px solid var(--color-black-main);
}

.full-post:last-child {
  border-bottom:none;
}

.main-section-post .post-title {
  font-size: 2rem;
  color: var(--color-black-main);
  margin: 30px 0 30px ;
  text-align: center;
}

.main-section-post .post-text {
  font-size: 1rem;
  overflow: hidden;
  margin: 10px auto;
  text-align: justify;
  width: 75%;
}

.main-section-post .post-text:last-child {
  margin-bottom: 50px;
}

.main-section-post .post-author {
  font-size: 0.8rem;
  width: 75%;
  margin: 0 auto;
}