.main-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-article {
  max-width: 30%;
  width: 100%;  
  margin-bottom: 30px;
}

.main-section .post-title {
  font-size: 2rem;
  color: var(--color-black-main);
  margin: 30px 0 10px ; 
}

.main-section .post-text {
  font-size: 1rem;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-section .post-author {
  font-size: 0.8rem;
}